.container-fluid {
    padding: 0;
}

.card-text {
    align-items: center;
    text-align: center;
}

#headshot {
   margin-left: 50%;
   margin-right: 50%;
}

.card {
    margin: 50px;
}

.btn {
    background-color: black;
    color: whitesmoke;
    border: white;
    margin-top: 5%;
}

/* #diamond {
    margin-left: 30%;
}

#mimosa {
    margin-left: 30%;
    
}

#sbsp {
    margin-left: 30%;
    
} */



