.container-fluid {
    padding: 0;
}
body {
    background-color: black;
}

header {
    color: whitesmoke;
}
.card-text {
    align-items: center;
    text-align: center;
}

.card {
    justify-content: center;
}

